*{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: 'Inter', sans-serif;;
        }
        .screen_box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width:420px;
            height: auto;
            background-color:#fff;
            box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.3), 0px 30px 59.9999px -12px rgba(50, 50, 93, 0.25);
            border-radius: 10px;
        }
        .top_navbar{
            background-color: #524fa1;
            color: #fff;
            padding: 0.75rem 1.25rem;
            border-radius: 0px;
            font-size: 14px;
        }
        .content_text_box{
            height: 600px;
            position: relative;
            margin: 0px 2rem;
        }
        .content_data{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .btn_group{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .btn_group button{
            outline: none;
            border-style: none;
            padding: 1rem;
            font-size: 16px;
            font-weight:bold;
            letter-spacing: 1px;
            color: #fff;
            background-color: #524fa1;
            border-radius: 5px;
        }
        .check_box{
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
        }
        .check_box input{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        @media (max-width: 450px) {
            .screen_box{
                width: 100%;
                height: 100%;
            }